article {
  width: 100%;
  position: relative;
  padding-bottom: 40px;
}
article .post_synopsis {
  width: 100%;
  height: 100%;
}
article .post_synopsis .post_title {
  line-height: 48px;
  height: 48px;
  font-size: 36px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
article .post_synopsis .post_title .post_date {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 1px 10px;
  transition: all 0.5s;
  position: relative;
  left: 0px;
}
article .post_synopsis .post_title .post_triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 35px solid #333;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-right: 24px solid transparent;
  transition: all 0.5s;
  position: relative;
  left: 0px;
}
article .post_synopsis:hover .post_title .post_date {
  left: 20px;
}
article .post_synopsis:hover .post_title .post_triangle {
  left: 20px;
}
article .post_synopsis .post_bottom {
  overflow: hidden;
  width: 100%;
}
article .post_synopsis .post_bottom img {
  width: 25%;
  float: left;
  transition: all 0.5s linear;
}
article .post_synopsis .post_bottom img:hover {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}
article .post_synopsis .post_bottom .post_describe {
  float: left;
  display: inline-block;
  margin-top: 10px;
  width: calc(75% - 40px);
  padding-left: 40px;
  color: #777;
}
article .post_synopsis .post_bottom a {
  float: right;
  text-decoration: underline;
  font-size: 14px;
  color: #22ad3b;
}
